@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300&family=Montserrat&family=Poppins:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Aleo', serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: wheat;
}

.container {
  position: relative;
  max-width: 350px;
  width: 100%;
  border-radius: 16px;
  padding: 10px 20px 20px;
  background: black;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

h1{
margin-left: -80px;
}
.display {
  height: 60px;
  width: 100%;
  text-align: right;
  margin-bottom: 10px;
  border-radius: 14px;
  font-size: 25px;
  color: #000e1a;
  pointer-events: none;
}

.buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.buttons button {
  padding: 10px;
  border-radius: 28px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.buttons button:active {
  transform: scale(1.1);
}

.values {
  background-color: grey;
}

.optrs {
  background-color: orange;
}